#navigation{
	width: 600px;
	margin: 0 auto;
	padding:0;
}
nav {
	text-align: center;	
}
nav a, nav a:visited {
	background-color: #d7ebfe;
	display: inline-block;
	height: 1.5em;
	border-bottom: 1px solid silver;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	margin: 0px 0px 5px 0px;
	padding: 3px 14px 0px 14px;
	text-decoration:none;
	text-shadow: 2px 2px 7px #9f9fc3;
	color: black;
}
nav a:hover, #phase_1 a#nav_1, #phase_2 a#nav_2, #phase_3 a#nav_3, #phase_4 a#nav_4, #phase_5 a#nav_5, #phase_6 a#nav_6, #phase_7 a#nav_7{
	background-color: #e7fbe7;
	color: red;
	text-shadow: 2px 2px 7px #df7085;
	box-shadow: 2px 2px 3px rgba(179, 179, 179, 0.7);
}


