html {
	margin: 0;
	padding: 0;
	position: relative;
}
body {
	width:930px;
	margin: 0 auto;
	padding: 0;
	position: relative;
}
.inputscontainer {
	margin: 10px auto;
	width: 930px;
	border-bottom: 2px ridge #cad4d1;
	clear: both;
}

.container {
	display: block;
	margin: 20px auto ;
	min-width: 930px ;
	-webkit-min-width: 930px ;
	border: 2px ridge #cad4d1;
	clear: both;
}
p{
	text-indent: 2em;
}
div#instructions{
	margin: 0px auto;
	border: none;
	padding-top: 15px;
	text-align: center;
}
.container table
{
	width: 100%;
	border-collapse: collapse;
}
.container table thead{
	border-bottom: 2px ridge #cad4d1;
}
.container table th {
	font-size: 1.2em;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	margin: 0 auto;
	padding: 4px;
}
.container table thead tr th:first-of-type{
	padding: 5px;
	min-width: 80px;
}
.container table tfoot{
	border-top: 2px ridge #cad4d1;
}
tbody tr {
	border-bottom: 1px solid #c1c1c1;
}
tbody tr:last-of-type {
	border-bottom: 1px solid #c1c1c1;
}
.container table td{
	padding: 5px;
	background-color: none;
	border-right: 1px dashed #cee1d1;
}
.container table button{
	width: 100%;
	height: 5px;
	font-size: .5em;
}
.container table button.half{
	width: 50%;
}
.container table td[contenteditable="true"]{
	background-color: rgba(220, 243, 220, 0.6);	
}
.container table tr:nth-of-type(2n){
	background-color: rgba(234, 248, 246, 0.8);
}
.container table td:last-child{
	padding: 5px;
	background-color: none;
	border-right: 0px none #cee1d1;
}
div.pagenav{
	width: 100%;
	margin: 0px auto;
	padding: 2px;
	text-align: center;
}
div.pagenav span {
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-bottom: 1px solid silver;
	border-right: 1px solid silver;
	padding: 3px 4px 3px 4px;
	background-color: rgba(233, 239, 233, 0.8);
}
div.pagenav span.pg-selected {
	font-weight: bold;
	background-color: rgb(201, 222, 201);
}
div.pagenav span.pg-normal:hover {
	background-color: rgba(230, 219, 204, 0.8);
}
div.pagenav span.regularData{
	background-color: #fff;
	border: none;
	margin-left: -3%;
}
.clearfix:after{
	position: relative;
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Smartphone Styles */

.container {
	margin: 0 auto ;
	width: 100% ;
	border: none;
	clear: both;
	font-size: 2em;
}
.container table button{
	width: 100%;
	font-size: .65em;
	margin: 6px 0px 6px 0px;
	
}
div.pagenav span:first-of-type{
	display: none;
}
div.pagenav span {
	font-size: 1.8em;
	margin: 0 auto;

}

}

@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
.container {
	margin: 0 auto ;
	width: 100% ;
	border: none;
	clear: both;
	font-size: 2em;
}
div.pagenav span:first-of-type{
	display: none;
}
div.pagenav span {
	font-size: 1.8em;
	margin: 0 auto;
}

/* iP4 Styles */
}